.default {
    background: white;
    color: black;
    outline: none;
}

.red {
    background: red;
}

.button {
    position: relative;
    margin: 10px;
    overflow: hidden;
    cursor: pointer;
}
